.about {
  background: #1c1d22;

  .main {
    gap: 20px;
  }
}

.about-content {
  @include flex(flex-start, center, column);
  gap: 15px;
  align-self: stretch;
  width: 50%;
  padding: 20px;
  box-shadow: 0 0 6px 2px rgb(0 255 255 / 70%);
}

.about-text {
  @include font(2rem, 700, 1.2);
  color: var(--color-font-light-secondary);

  &:first-of-type {
    font-size: 2.4rem;
  }
}
