.auth {
  @include flex(center, center);
  column-gap: 20px;
  height: 100vh;
  margin: 0 auto;
}

.auth-content {
  @include flex(flex-start, center, column);
  row-gap: 10px;
  width: 280px;
  background-color: var(--color-black);
  border-radius: 20px;
}

.auth-image {
  width: 100%;
  height: 280px;
  background: center no-repeat url('../../img/auth_image.jpg');
  background-size: cover;
  border-radius: 20px 20px 0 0;
}

.auth-text-container {
  @include flex(flex-start, center, column);
  row-gap: 20px;
  padding: 20px;
}

.auth-heading {
  @include font(3rem, 700, normal, -0.02em);
  font-family: var(--second-family);
  color: #fff;
}

.auth-text {
  @include font(1.6rem, 600, 1, -0.02em);
  position: relative;
  font-family: var(--second-family);
  color: #fff;

  &::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -30px;
    width: 24px;
    height: 24px;
    background: center transparent url('../../img/secure.svg');
    background-size: contain;
  }
}
