:root {
  --font-family: 'Krona One', sans-serif;
  --second-family: 'Inter', sans-serif;
  --color-bg-primary: #1e1e1e;
  --color-black: #000;
  --color-primary: #21978b;
  --color-font-light-primary: #fff;
  --color-font-light-secondary: rgb(255 255 255 / 60%);
  --color-primary-bright: #0cc;
  --color-input: #e5ffff;
  --color-hover: rgb(0 255 255 / 70%);
  --color-font-light: #e5ffff;
  --color-font-dark: #033;
  --color-font-invalid: #ffc61b;
  --color-background-black-transparent: rgb(0 0 0 / 5%);
  --color-background-white-transparent: rgb(255 255 255 / 30%);
  --color-shadow-dark: rgb(0 0 0 / 40%);
  --color-shadow-light: rgb(255 255 255 / 40%);
}
