@import 'normalize.css';
@import 'reset.css';
@import 'constants.css';
@import 'https://fonts.googleapis.com/css2?family=Krona+One&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap';
@import 'styles.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Inter, sans-serif;
  font-size: 10px;
}

body {
  position: relative;
  background: var(--color-bg-primary);
}
