.app-content {
  @include flex(flex-start, center, column);

  @include media-tablet {
    width: 40%;
  }

  @include media-tablet-mini {
    width: 300px;
    height: unset;
    min-height: unset;
  }
  row-gap: 10px;
  align-self: center;
  width: 400px;
  height: 50%;
  min-height: 450px;
  background-color: var(--color-black);
  border-radius: 20px;

  @media (width <= 600px) and (height <= 700px) {
    display: none;
  }
}

.app-image {
  @include media-tablet {
    height: 250px;
  }
  width: 100%;
  min-height: 250px;
  max-height: 400px;
  background: center no-repeat url('../../img/auth_image.jpg');
  background-size: cover;
  border-radius: 20px 20px 0 0;
}

.app-text-container {
  @include flex(flex-start, center, column);

  @include media-tablet {
    row-gap: 20px;
    padding: 20px;
  }

  @include media-tablet-mini {
    display: none;
  }
  row-gap: 40px;
  padding: 40px 20px;
}

.app-heading {
  @include font(3rem, 700, normal, -0.02em);

  @include media-tablet {
    font-size: 2.3rem;
  }
  font-family: var(--second-family);
  color: var(--color-font-light-primary);
}

.app-text {
  @include font(1.6rem, 600, 1, -0.02em);

  @include media-tablet {
    font-size: 1.2rem;
  }
  position: relative;
  font-family: var(--second-family);
  color: var(--color-font-light-primary);

  &::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -30px;
    width: 24px;
    height: 24px;
    background: center transparent url('../../img/secure.svg');
    background-size: contain;
  }
}
