.message {
  @include flex(flex-end, unset, column);
  position: relative;
  gap: 5px;
  min-width: 180px;
  max-width: 80%;
  padding: 5px;
  background: var(--color-light-message);
  border-radius: 4px 0 4px 4px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    border: 10px solid transparent;
  }

  &_true {
    align-self: flex-end;
    color: var(--color-dark-message);

    &::after {
      right: -10px;
      border-top: 10px solid var(--color-light-message);
    }
  }

  &_false {
    align-self: flex-start;
    background: var(--color-dark-message);

    &::after {
      top: 0;
      left: -10px;
      border-top: 10px solid var(--color-dark-message);
    }
  }
}

.message-info-container {
  @include font(0.8rem, 700, normal);
  @include flex(space-between, center);

  @include media-mobile {
    font-weight: 500;
  }
}

.message-text {
  @include font(1.6rem, 700, normal);

  @include media-tablet {
    font-size: 1.4rem;
  }

  @include media-tablet-mini {
    font-size: 1.2rem;
  }
  word-wrap: break-word;
}

.messageStatusContainer {
  @include flex(space-between, center);
}

.delivery-status {
  @include font(0.8rem, 700, normal);

  @include media-mobile {
    font-weight: 500;
  }

  .message_false & {
    display: none;
  }
}

.edit-status {
  @include font(0.8rem, 700, normal);

  @include media-mobile {
    font-weight: 500;
  }
  margin-left: auto;
}

.context-menu {
  @include flex(center, center, column);
  @include font(1.2rem, 700, normal);
  position: absolute;
  top: -45px;
  left: -70px;
  width: 100px;
  color: var(--color-font-light-primary);
  background: #4a4a4a;
  border: 1px solid var(--color-font-light-secondary);
  border-radius: 8px;
}

.context-button {
  @extend %transition;

  @include media-hover {
    &:hover {
      color: var(--color-bg-primary);
      background-color: var(--color-font-light-secondary);
    }
  }
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 0 0 8px 8px;

  &:first-of-type {
    border-bottom: 1px solid var(--color-font-light-primary);
    border-radius: 8px 8px 0 0;
  }

  &:active {
    opacity: 0.7;
  }
}
