.message {
  @include flex(flex-end, unset, column);
  position: relative;
  gap: 5px;
  min-width: 150px;
  max-width: 80%;
  padding: 5px;
  background: var(--color-light-message);
  border-radius: 4px 0 4px 4px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    border: 10px solid transparent;
  }

  &_true {
    align-self: flex-end;
    color: var(--color-dark-message);

    &::after {
      right: -10px;
      border-top: 10px solid var(--color-light-message);
    }
  }

  &_false {
    align-self: flex-start;
    background: var(--color-dark-message);

    &::after {
      top: 0;
      left: -10px;
      border-top: 10px solid var(--color-dark-message);
    }
  }
}

.message-info-container {
  @include font(0.8rem, 700, normal);
  @include flex(space-between, center);

  @include media-mobile {
    font-weight: 500;
  }
}

.message-text {
  @include font(1.6rem, 700, normal);

  @include media-tablet {
    font-size: 1.4rem;
  }

  @include media-tablet-mini {
    font-size: 1.2rem;
  }
  word-wrap: break-word;
}

.messageStatusContainer {
  @include flex(space-between, center);

  .message_false & {
    display: none;
  }
}

.message-status {
  @include font(0.8rem, 700, normal);

  @include media-mobile {
    font-weight: 500;
  }
}

.message-status-icon {
  @include media-tablet-mini {
    width: 15px;
    height: 15px;
  }
  width: 20px;
  height: 20px;

  &_delivered {
    background: center no-repeat url('../../img/checked.svg');
    background-size: contain;
  }

  &_read {
    background: center no-repeat url('../../img/double-checked.svg');
    background-size: contain;
  }
}
